{{> header}}
<section class="adaptative-div">
  <div class="container" style="flex: 1;">
    <div class="row">
      <div class="restaurant-cont">
        <h1 class="h1-restaurant">Liste des commandes passées par {{enterprise}} et qui doivent être livrées à {{time}}</h1>
        <div class="commandes-container row">
          {{#each commandes}}
          <div class="col-md-4 commandes-box">
            <h3 class="commandes-title">Commande n°{{this.id_commande}}</h3>
            <p class="commandes-info">❥ Nom du Client: {{this.client.nom}}</p>
            <div class="row">
              <div class="col-md-12">
                <h4 class="commandes-subtitle">❥ Plats :</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Quantité</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each this.commandePlats}}
                    <tr>
                      <td>{{this.plat.nom_plat}}</td>
                      <td>{{this.quantite}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{#if this.commandeSupplements}}
            <div class="row">
              <div class="col-md-12">
                <h4 class="commandes-subtitle">❥ Suppléments :</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Quantité</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each this.commandeSupplements}}
                    <tr>
                      <td>{{this.supplement.nom_supplement}}</td>
                      <td>{{this.quantite}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{/if}}
            <div class="div_fait">
              <button class="command_faite" id="fait-{{this.id_commande}}">Fait</button>
            </div>
           
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<script>

    // Sélectionnez tous les boutons "Fait" en utilisant un sélecteur CSS
  const faitButtons = document.querySelectorAll('.command_faite');

  // Ajoutez un écouteur d'événements à chaque bouton "Fait"
  faitButtons.forEach((button) => {
    button.addEventListener('click', async (event) => {
      // Récupérez l'ID de la commande à partir de l'ID du bouton
      const commandeId = event.target.id.split('-')[1];

      try {
        // Appelez votre API backend pour marquer la commande comme prête
        await fetch(`/marquerCommandePrete/${commandeId}`, { method: 'POST' });

        // Mettez à jour l'apparence de la carte de commande (par exemple, changez le fond en vert)
        const commandeCard = event.target.closest('.commandes-box');
        commandeCard.style.backgroundColor = 'green';
      } catch (error) {
        // Gérez les erreurs
        console.error(error);
        // Affichez un message d'erreur à l'utilisateur si nécessaire
      }
    });
  });

</script>

{{> footer}}