{{> header}}

<section>
  <div class="container">
    <div class="row">
      <div class="restaurant-container">
        <h1 class="h1-restaurant">Liste des commandes passées par {{entreprise}} et qui doivent être livrées à {{time}} :</h1>
        <ul>
          {{#each commandes}}
          <li>
            <h2>	&#129369; Commande n°{{this.id_commande}} 	&#129369;</h2>
            <h3 classe ="info-titre"> ❥ Nom du Client: </h3>
             <h4> {{this.client.nom}}</h4>
            <h3 classe ="info-titre"> ❥ Plats :</h3>
            <ul >
              {{#each this.commandePlats}}
              <li> <h4 classe ="info-titre"> {{this.plat.nom_plat}}</h4></li>
              {{/each}}
            </ul>
            {{#if this.commandeSupplements}}
              <h3 classe ="info-titre "> ❥ Suppléments: </h3>
              <ul>
                {{#each this.commandeSupplements}}
                  <li> <h4 classe ="info-titre"> {{this.supplement.nom_supplement}} </h4></li>
                {{/each}}
              </ul >
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>

{{> footer}}
