{{> header}}

<style>
  .time-item.disabled {
    background-color: mediumseagreen;
      border-color : mediumseagreen;
    cursor: not-allowed;
  }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        {{#if prefix}}
        <li class="breadcrumb-item"><a href="{{prefix}}">Accueil</a></li>
        {{else}}
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        {{/if}}
        <li class="breadcrumb-item"><a href="{{prefix}}/selectionClientPage">Sélection entreprise</a></li>
        <li class="breadcrumb-item"><a href="{{prefix}}/clients">Sélection employé.e</a></li>
        <li class="breadcrumb-item"><a href="{{prefix}}/plats">Choix du plat</a></li>
        <li class="breadcrumb-item"><a href="{{prefix}}/supplements">Choix du supplément</a></li>

        <li class="breadcrumb-item active" aria-current="page">Choix de l'horaire de livraison</li>
    </ol>
</nav>

<section style="align-items: center;">
  <h2 class="text-center texte-intro">A quelle heure souhaites-tu récupérer ta commande ? ⏰</h2>
  <div class="container row text-center">
    <div class="sauver" id="" style="width: 160px;">
      <ul>
        <li class="btn btn-primary time-item m-bottom-20" data-value="12h00" style="border-radius: 15px;">12h00</li>
        <li class="btn btn-primary time-item m-bottom-20" data-value="12h30" style="border-radius: 15px;">12h30</li>
        <li class="btn btn-primary time-item m-bottom-20" data-value="13h00" style="border-radius: 15px;">13h00</li>
        <li class="btn btn-primary time-item m-bottom-20" data-value="13h30" style="border-radius: 15px;">13h30</li>
        <li class="btn btn-primary time-item m-bottom-20" data-value="14h00" style="border-radius: 15px;">14h00</li>
      </ul>
    </div>

    <div class="gif-container">
      <img class="cook-gif" src="{{prefix}}/assets/images/cook.gif" style="border-radius: 15px;">
    </div>

    <div class="container-prev-next">
      <a href='{{prefix}}/supplements'>
        <input type="submit" class="btn btn-primary btn-previous-heure" value="Précédent"/>
      </a>

      <div class="restaurant-container">
        <div>
          <input type="hidden" id="modal-confirmation">
          <label for="modal-confirmation" class="btn btn-primary btn-lg m-bottom-70">Récapitulatif de la commande</label>
          <label for="modal-confirmation" class="modal-background"></label>
          <div class="modal-confirmation" style="height: 65%; width: 30%">
            <div class="modal-confirmation-header">
              <h3 class="recap-commande">Récapitulatif de la commande</h3>
              <label for="modal-confirmation">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC" width="16" height="16" alt="">
              </label>
            </div>
            <p><b>{{command.nom_employee}}</b>, pour</p>
            <p id="heurePlaceHolder" class="recap-heure"></p>
            {{#if command.plats}}
              <p>Tu as choisis :</p>
            {{#each command.plats}}
              <p class="quantite-plat">{{this.quantite}} {{this.nom_plat}}</p>
            {{/each}}
            {{/if}}

              {{#if command.supplements}}
                  {{#if command.plats}}
              <p>Accompagné de :</p>
                  {{else}}
                      <p>Tu as choisis :</p>
                  {{/if}}
            {{#each command.supplements}}
              <p class="quantite-supplement">{{this.quantite}} {{this.nom_supplement}}</p>
            {{/each}}
              {{/if}}
            <p style="font-weight: bold">Pour un total de {{command.montant_Commande}}€.</p>

            <a href='{{prefix}}/confirmation'>

              <input type="submit" class="btn btn-primary btn-lg m-bottom-70" value="Valider" style="border-radius: 15px;"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  const allButton = document.querySelectorAll('.time-item');
  const buttonContentPlaceholder = document.getElementById('heurePlaceHolder');
  const inputToEnable = document.getElementById('modal-confirmation');
  allButton.forEach(button => {
    button.addEventListener('click', (event) => {
      // Désactiver tous les boutons
      allButton.forEach(btn => {
        btn.classList.remove('disabled');
      });

      // Récupérer le bouton cliqué
      const currentButton = event.target;

      // Désactiver le bouton cliqué
      currentButton.classList.add('disabled');

      // Activer le bouton de recap
      inputToEnable.type = "checkbox";

      buttonContentPlaceholder.textContent = currentButton.textContent;

      // Envoyer la valeur du bouton au serveur
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/heurelivraison');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ buttonText: currentButton.dataset.value }));
    });
  });
</script>

{{> footer}}
