{{> header}}

<section>
    <h2 class="text-center texte-intro">Bonjour {prénom}, que veux-tu manger ?</h2>
    <div class="container plat-parent">
        <div class="plat-enfant">
            <ul> {{#each data.data.restaurants.[0].plats}}
                <img class="image-de-plat" src={{this.img}} alt="image du plat">
                <h4 class="text-center nom-du-plat">{{this.nom}} - {{this.prix}}€</h4>
                <span class="liste-ingredients">{{this.ingredients}}</span>
                <li> <button type="button" class="btn btn-primary btn-lg B1 bouton-ajout" onclick="getInfo()" data-plat-nom = "{{this.nom}}">Ajouter a la commande</button></li>
            {{/each}}
            </ul>
        </div>
    </div>
    <button class="btn btn-primary btn-previous"> <!--onclick="window.location.href = 'http://localhost:3000/supplements';"-->Précédent</button>
    <button class="btn btn-primary btn-next" onclick="window.location = '/supplements'">Suivant</button>
</section>

{{> footer}}

