{{> header}} 

<section>
      <div class="container">
          <div class="row">
              <div class="restaurant-container">
                      <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
                      <div class="separator_restaurant m-bottom-20"></div>
                <a href='/historique'>
                  <input type="submit" class="btn-restaurant  text-white" value="Historique"/>
                </a>
                       <h2 class="h2-clients m-top-80"> &#129369; Aujourd'hui, Vous devez préparer les commandes suivantes : </h2>
              </div>
          </div>
      </div>
</section>


<form action="/restaurant" method="POST">

    <div class="container">
        <div class="">
            <ul>  {{#each data}}
                <label for="{{this.entreprise}}" class="h1-restaurant"> {{this.heure_de_livraison}} </label>
                    <li> <input id="{{this.entreprise}}" type ="submit" class="btn btn-primary btn-lg commande" name="{{this.heure_de_livraison}}" value="{{this.nombreCommandes}} pour le {{this.entreprise}}" > 
                    <input id="entreprise" name="{{this.entreprise}}" type="hidden" value="{{this.heure_de_livraison}}">
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
</form>


{{> footer}}
