{{> header}} 
<div class="container">
  <a href="/historique" class="fixed-button" >
    <input type="submit" class=" btn btn-restaurant text-white" value="Historique" style="border-radius: 15px;" />
  </a> 
</div> 

<section>
  <div class="container">
    <div class="row">
      <div class="restaurant-container">
        <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
        <div class="separator_restaurant m-bottom-20"></div>
        
        <h2 class="h2-clients m-top-80">&#129369; Aujourd'hui, vous devez préparer les commandes suivantes :</h2>
        <h4>Voici tous les tickets ordonnées par heure, cliquez sur le bouton fait pour indiquer que la commande est faite &#128513;</h4>
      </div>
    </div>
  </div>
</section>

<section class="adaptative-div-card">
<div class="bootstrap snippets bootdey snippend-container">
 
  <div class="row">
    {{#if commandes}}
      {{#each commandes}}
		    <div class="column">
          
          <div class="widget red-bg p-xl">
            <h3 class="commandes-title">❥ {{this.client.nom}}, {{this.client.entreprise}} à {{this.heure_de_livraison}}</h3>
              <ul class="list-unstyled m-t-md">
                    {{#each this.commandePlats}}
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.plat.nom_plat}}</label>
                    </li>
                    {{/each}}

                    {{#if this.commandeSupplements}}
                    {{#each this.commandeSupplements}}
                     
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.supplement.nom_supplement}} </label>
                    </li>
                    {{/each}}
                    {{/if}}

                    <li>
                      <span class="fa m-r-xs"></span>
                      <div class="div_fait">
                      <button class="command_faite btn btn-rounded" id="fait-{{this.id_commande}}">Fait</button>
                      </div>
                    </li> 
                    
                   
               </ul>  
               
                     
                            
          </div>
        </div>      
      {{/each}} 
    {{else}}
      <center>
        <h3 class="h1-restaurant m-top-30">Pas de commande aujourd'hui.</h3>
      </center>
      <div  class="kid-cook-container">
          <img class="" src="/assets/images/kid-cook.jpg" style="border-radius: 15px; width: 400px; height: auto;">
      </div>
    {{/if}} 
  </div>          
</div>
</section>


<script>
  // Obtenez tous les éléments de snipped
  const snippedElements = document.querySelectorAll('.widget');

  // Initialisez une variable pour stocker la taille maximale
  let maxSize = 0;

  // Parcourez tous les éléments de snipped pour trouver la taille maximale
  snippedElements.forEach(element => {
    const snippedHeight = element.offsetHeight;
    if (snippedHeight > maxSize) {
      maxSize = snippedHeight;
    }
  });

  // Appliquez la taille maximale à tous les éléments de snipped
  snippedElements.forEach(element => {
    element.style.height = maxSize + 'px';
  });
</script>


{{> footer}}
