{{> header}} 
<div class="container">
  <a href="/historique" class="fixed-button" >
    <input type="submit" class=" btn btn-restaurant text-white" value="Historique" style="border-radius: 15px;" />
  </a> 
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Commandes du jour</li>
    </ol>
</nav>

<section>
  <div class="container">
    <div class="row">
      <div class="restaurant-container">
        <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
        <div class="separator_restaurant m-bottom-20"></div>
        
        <h2 class="h2-clients m-top-80">&#129369; Aujourd'hui, vous devez préparer les commandes suivantes :</h2>
        <h4>Cliquez sur les boutons pour consulter les détails de commandes par heure de livraison &#128513;</h4>
      </div>
    </div>
  </div>

</section>
<section class="adaptative-div-restaurant">
<div class="container">
  <div class="info">
    <form action="/restaurant" method="POST">
      <div>
      {{#if data}}
        <ul class="row">
        {{#each data}}
        <li class="col-sm-6">
          <h3 class="h1-restaurant">A {{this.heure_de_livraison}}, vous avez :</h3>
            <input type="submit" class="btn btn-primary btn-lg commande" name="{{this.heure_de_livraison}}" value="{{this.nombreCommandes}} commande(s) pour {{this.entreprise}}" style="border-radius: 15px;" />
        </li>
        
        {{/each}}
        </ul> 
        </div>     
    </form>


    {{else}}
      <center>
      <h3 class="h1-restaurant m-top-30">Pas de commande aujourd'hui.</h3>
      </center>
      <div  class="kid-cook-container">
        <img class="" src="/assets/images/kid-cook.jpg" style="border-radius: 15px; width: 400px; height: auto;">
      </div>
      
    {{/if}}
  </div>
</div>
</section>

{{> footer}}
