{{> header}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        {{#if prefix}}
        <li class="breadcrumb-item"><a href="{{prefix}}">Accueil</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        {{/if}}
        <li class="breadcrumb-item"><a href="{{prefix}}/restaurant">Commandes du jour</a></li>

        <li class="breadcrumb-item active" aria-current="page">Historique</li>
    </ol>
</nav>

<section class="adaptative-div">
      <div class="container" style="flex: 1;">
          <div class="row">
              <div class="col-lg">
                  <div class="clients-container">
                    <h1 class="h1-clients">Les notes à régler en {{ month }} 2023 </h1>
                    <div class="separator_center"></div>
                  </div>
              </div>

            <div class="row">
                {{#if data}}
                {{#each data}}
              <div class="col-lg">
                  <div class="clients-container">


                <a id='myUrl{{@index}}' name="/facture/{{this.entreprise}}/current_month" href="/facture/{{this.entreprise}}/current_month">

                    <button class="btn-historique">
                        <div class="note-wrapper">
                            <div class="note-entreprise">{{this.entreprise}}</div>
                            <div class="vertical-separator"></div>
                            <div class="note-totale"> {{this.sumCommandes}}€</div>
                        </div>
                    </button>
                </a>
                    {{/each}}
                {{else}}
                    {{#each dataEntreprise.data.entreprises}}
                    <div class="col-lg">
                    <div class="clients-container">


                        <a id="myURL2{{@index}}" href="" name="/facture/{{this.nomEntreprise}}/current_month">

                            <button class="btn-historique">
                                <div class="note-wrapper">
                                    <div class="note-entreprise">{{this.nomEntreprise}}</div>
                                    <div class="vertical-separator"></div>
                                    <div class="note-totale">0€</div>
                                </div>
                            </button>
                        </a>
                    {{/each}}
                {{/if}}
                  </div>
              </div>
          </div>

      </div>
</section>

<script>
  const prefixValue = '{{prefix}}'; // Récupérez la valeur de la variable prefix depuis votre contexte de rendu

  const urls = document.querySelectorAll('[id^="myUrl"]');
  urls.forEach(url => {
    url.href = prefixValue + url.name;

  });

  const elements = document.querySelectorAll('[id^="myURL2"]');
    elements.forEach(element => {
    element.href = prefixValue + element.name;

  });
  
</script>

{{> footer}}
