{{> header}} 
<div class="container">
  <a href="/historique" class="fixed-button" >
    <input type="submit" class=" btn btn-restaurant text-white" value="Historique" style="border-radius: 15px;" />
  </a> 
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Commandes du jour</li>
    </ol>
</nav>

<section>
  <div class="container">
    <div class="row">
      <div class="restaurant-container">
        <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
        <div class="separator_restaurant m-bottom-20"></div>
        
        <h2 class="h2-clients m-top-80">&#129369; Aujourd'hui, vous devez préparer les commandes suivantes :</h2>
        <h4>Voici tous les tickets ordonnées par heure, cliquez sur le bouton fait pour indiquer que la commande est faite &#128513;</h4>
      </div>
    </div>
  </div>
</section>

<section class="adaptative-div-card">
<div class="bootstrap snippets bootdey snippend-container ">
 
  <div class="row">
    {{#if commandes}}
      {{#each commandes}}
		    <div class="column">
          
          <div class="widget red-bg p-xl">
            <h3 class="commandes-title">❥ {{this.client.nom}}, {{this.client.entreprise}} à <B>{{this.heure_de_livraison}}</B></h3>
              <ul class="list-unstyled m-t-md">
                    {{#each this.commandePlats}}
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.plat.nom_plat}}</label>
                    </li>
                    {{/each}}

                    {{#if this.commandeSupplements}}
                    {{#each this.commandeSupplements}}
                     
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.supplement.nom_supplement}} </label>
                    </li>
                    {{/each}}
                    {{/if}}

                    <li>
                      <span class="fa m-r-xs"></span>
                      <div class="div_fait">
                      <button class="command_faite btn btn-rounded" id="fait-{{this.id_commande}}">Fait</button>
                      </div>
                    </li> 
                    
                   
               </ul>  
               
                     
                            
          </div>
        </div>      
      {{/each}} 
    {{else}}
      <center>
        <h3 class="h1-restaurant m-top-30">Pas de commande aujourd'hui.</h3>
      </center>
      <div  class="kid-cook-container">
          <img class="" src="/assets/images/kid-cook.jpg" style="border-radius: 15px; width: 400px; height: auto;">
      </div>
    {{/if}} 
  </div>          
</div>
</section>

{{#if commandePrete}}
<section class="adaptative-div-card">

<div class="bootstrap snippets bootdey snippend-container ">
  <div class="text-center">
  <h2 class="h2-clients ">&#129369; Commandes pretes : </h2>
</div>
 
  <div class="row">
    {{#each commandePrete}}
		    <div class="column">
          <div class="widget navy-bg p-xl">
            <h3 class="commandes-title">❥ {{this.client.nom}}, {{this.client.entreprise}} à <B>{{this.heure_de_livraison}}</B></h3>
              <ul class="list-unstyled m-t-md">
                    {{#each this.commandePlats}}
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.plat.nom_plat}}</label>
                    </li>
                    {{/each}}

                    {{#if this.commandeSupplements}}
                    {{#each this.commandeSupplements}}
                     
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>❥ {{this.quantite}} x {{this.supplement.nom_supplement}} </label>
                    </li>
                    {{/each}}
                    {{/if}}
                    </ul>
          </div>
        </div>
        {{/each}}
  </div>
</div>
{{/if}}
</section>




<script>
  // Obtenez tous les éléments de snipped
  const snippedElements = document.querySelectorAll('.widget');

  // Initialisez une variable pour stocker la taille maximale
  let maxSize = 0;

  // Parcourez tous les éléments de snipped pour trouver la taille maximale
  snippedElements.forEach(element => {
    const snippedHeight = element.offsetHeight;
    if (snippedHeight > maxSize) {
      maxSize = snippedHeight;
    }
  });

  // Appliquez la taille maximale à tous les éléments de snipped
  snippedElements.forEach(element => {
    element.style.height = maxSize + 'px';
  });
</script>

<script>

  const faitButtons = document.querySelectorAll('.command_faite');

  // Ajoutez un écouteur d'événements à chaque bouton "Fait"
  faitButtons.forEach((button) => {
    button.addEventListener('click', async (event) => {
      
      const commandeId = event.target.id.split('-')[1];
      console.log("commande id : ", commandeId);

      try {
        // Appelez votre API backend pour marquer la commande comme prête
        await fetch(`/marquerCommandePrete/${commandeId}`, { method: 'POST' });

        const commandeCard = event.target.closest('.widget');
        commandeCard.style.backgroundColor = 'mediumseagreen';
      } catch (error) {
        
        console.error(error);
      }
    });
  });

</script>


{{> footer}}
