{{> header}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/restaurant">Commandes du jour</a></li>
        <li class="breadcrumb-item active" aria-current="page">Historique</li>
    </ol>
</nav>

<section class="adaptative-div">
      <div class="container" style="flex: 1;">
          <div class="row">
              <div class="col-lg">
                  <div class="clients-container">
                    <h1 class="h1-clients">Les notes à régler en {{ month }} 2023 </h1>
                    <div class="separator_center"></div>
                  </div>
              </div>

            <div class="row">
                {{#if data}}
                {{#each data}}
              <div class="col-lg">
                  <div class="clients-container">

                <a href="/facture/{{this.entreprise}}/current_month">
                    <button class="btn-historique">
                        <div class="note-wrapper">
                            <div class="note-entreprise">{{this.entreprise}}</div>
                            <div class="vertical-separator"></div>
                            <div class="note-totale"> {{this.sumCommandes}}€</div>
                        </div>
                    </button>
                </a>
                    {{/each}}
                {{else}}
                    {{#each dataEntreprise.data.entreprises}}
                    <div class="col-lg">
                    <div class="clients-container">

                        <a href="/facture/{{this.nomEntreprise}}/current_month">
                            <button class="btn-historique">
                                <div class="note-wrapper">
                                    <div class="note-entreprise">{{this.nomEntreprise}}</div>
                                    <div class="vertical-separator"></div>
                                    <div class="note-totale">0€</div>
                                </div>
                            </button>
                        </a>
                    {{/each}}
                {{/if}}
                  </div>
              </div>
          </div>

      </div>
</section>
{{> footer}}
