{{> header}}

<section>
  <h2 class="text-center texte-intro">Un petit supplément ?</h2>

  <div class="row">
    <div class="row container-card col-md-8">
      {{#each data.data.restaurants.[0].supplements}}
        <div class="col-sm-2 supplement-item">
          <div class="card">
            <img class="card-img-top" src={{this.img}} alt="image du supplement" style="border-radius: 15px;">
            <div class="card-body">
              <h5 class="card-title">{{this.nom}} - {{this.prix}}€</h5>
              <p class="liste-ingredients">{{this.ingredients}}</p>
              <button type="button" class="btn btn-primary bouton-plats B1"  name="{{this.prix}}" id="{{this.nom}}">Ajouter à la commande</button>
            </div>
          </div>
        </div>
      {{/each}}

    </div>


    <div class="col-md-1 shadowed-div" style="border-radius: 15px;">
      <section id="recap-section"> 
        <h2 class="text-center texte-intro" style="font-size: 1.5rem">Panier</h2>
        <ul id="recap-commande"></ul>
      </section>
    </div>
  </div>

  <div class="container-prev-next">
    <a href='/plats'>
      <input type="submit" class="btn btn-primary btn-previous" value="Précédent"/>
    </a>
    <a href='/heureLivraison'>
      <input type="submit" class="btn btn-primary btn-next" value="Suivant"/>
    </a>
  </div>

</section>

<script>
  const allButton = document.querySelectorAll('.B1');
  const recapCommande = document.getElementById('recap-commande');
  let commande = {}; // initialisation de l'objet commande

  allButton.forEach(button => {
    button.addEventListener('click', (event) => {
      const buttonText = event.target.id;
      const prix = event.target.name;
      console.log("ping");

      // incrémentation de la quantité
      if (commande.hasOwnProperty(buttonText)) {
        commande[buttonText].quantite += 1;
      } else {
        commande[buttonText] = {
          quantite: 1,
          prix: prix
        };
      }

      // affichage du récapitulatif
      recapCommande.innerHTML = '';
      let total = 0;
      Object.keys(commande).forEach((supplement) => {
        const item = document.createElement('li');
        item.textContent = `${commande[supplement].quantite} x ${supplement} - ${commande[supplement].prix}€`;
        recapCommande.appendChild(item);
        total += commande[supplement].quantite * commande[supplement].prix;

      });
      const totalItem = document.createElement('li');
      totalItem.textContent = `Total : ${total}€`;
      recapCommande.appendChild(totalItem);

      // envoi de la commande au serveur
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/supplements');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ buttonText, prix }));
    });
  });
</script>

{{> footer}}