{{> header}}

<section>
  <h2 class="text-center texte-intro">Un (ou plusieurs..) petit supplément ?</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="supplements-list row row-cols-2">
          {{#each data.data.restaurants.[0].supplements}}
          <li class="supplement-item col">
            <img class="supplement-image" src={{this.img}} alt="image du supplement">
            <h4 class="text-center nom-du-plat">{{this.nom}} - {{this.prix}}€</h4>
            <span class="liste-ingredients">{{this.ingredients}}</span>
            <button type="button" class="btn btn-primary btn-lg B1 bouton-ajout" name="{{this.prix}}" id="{{this.nom}}">Ajouter a la commande</button>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-4">
        <section>
          <h2 class="text-center texte-intro">Vous avez choisi:</h2>
          <ul id="recap-commande"></ul>
        </section>
      </div>
    </div>
  </div><button class="btn btn-primary btn-previous" onclick="window.location = '/plats'">Précédent</button>
<button class="btn btn-primary btn-next" onclick="window.location.href = '/heureLivraison';" style="margin-left: 10px;">Suivant</button>

</section>

<script>
  const allButton = document.querySelectorAll('.B1');
  const recapCommande = document.getElementById('recap-commande');
  let commande = {}; // initialisation de l'objet commande

  allButton.forEach(button => {
    button.addEventListener('click', (event) => {
      const buttonText = event.target.id;
      const prix = event.target.name;

      // incrémentation de la quantité
      if (commande.hasOwnProperty(buttonText)) {
        commande[buttonText].quantite += 1;
      } else {
        commande[buttonText] = {
          quantite: 1,
          prix: prix
        };
      }

      // affichage du récapitulatif
      recapCommande.innerHTML = '';
      let total = 0;
      Object.keys(commande).forEach((supplement) => {
        const item = document.createElement('li');
         item.textContent = `${commande[supplement].quantite} x ${supplement} - ${commande[supplement].prix}€`;
         recapCommande.appendChild(item);
         total += commande[supplement].quantite * commande[supplement].prix;
       
      });
       const totalItem = document.createElement('li');
       totalItem.textContent = `Total : ${total}€`;
       recapCommande.appendChild(totalItem); 

      // envoi de la commande au serveur
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/supplements');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ buttonText, prix }));
    });
  });
</script>

{{> footer}}
