{{> header}}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{{prefix}}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{prefix}}/selectionClientPage">Sélection entreprise</a></li>
        <li class="breadcrumb-item"><a href="{{prefix}}/clients">Sélection employé.e</a></li>

        <li class="breadcrumb-item"><button type="submit" class="button_ariane" form="form_supp" name="pre">Choix du plat</button></li>
        <li class="breadcrumb-item active" aria-current="page">Choix du supplément</li>
    </ol>
</nav>

<section>
  <h2 class="text-center texte-intro">Un petit supplément ?</h2>

  <div class="row">

    <form id="form_supp" action="{{prefix}}/supplements" method="POST">

    <div class="row container-card col-md-8">
      {{#each data.data.restaurants.[0].supplements}}
        <div class="col-sm-2 supplement-item">
          <div class="card">
            <img class="card-img-top" src={{this.img}} alt="image du supplement" style="border-radius: 15px;">
            <div class="card-body">
              <h5 class="card-title">{{this.nom}} - {{this.prix}}€</h5>
              <p class="liste-ingredients">{{this.ingredients}}</p>
              <input type="hidden" id="button-hidden{{@index}}" data-nonplat= "{{this.nom}}"  name="{{this.nom}}" value="0"/>
              <input type="button" id="{{this.prix}}" class="btn btn-primary bouton-plats" name="{{this.nom}}" value="Ajouter à la commande" onclick="addValue('button-hidden{{@index}}');" />
            </div>
          </div>
        </div>
      {{/each}}

    </div>


    <div class="col-md-1 shadowed-div" style="border-radius: 15px;">
      <section id="recap-section"> 
        <h2 class="text-center texte-intro" style="font-size: 1.5rem">Panier</h2>
        <ul id="recap-commande">
          {{#each plats}}
            <li class ="commande-existante" data-name="{{this.nom_plat}}" data-prix ="{{this.prix}}" data-quantite ="{{this.quantite}}" > {{this.quantite}} x {{this.nom_plat}} - {{this.prix}}€ <button class="delete" data-name="{{this.nom_plat}}" >X</button></li> 
          {{/each}}

          {{#each supplements}}
            <li class="commande-existante" data-name="{{this.nom_supplement}}" data-quantite="{{this.quantite}}" data-prix="{{this.prix}}"> {{this.quantite}} x {{this.nom_supplement}} - {{this.prix}}€ <button class="delete" data-name="{{this.nom_supplement}}" >X</button></li> 
          {{/each}}
          <li id="total" data-montant="{{montant}}"> Total : {{montant}} </li>    
        </ul>

          {{#each plats}}
          <input type="hidden" data-namehidden="{{this.nom_plat}}" name="{{this.nom_plat}}" value="{{this.quantite}}">
          {{/each}}
      </section>
    </div>
  </div>

  <div class="container-prev-next">
    
    {{#if montant}}
       <button type="submit" class="btn btn-primary btn-next" name="next" id="suivant-locked"> Suivant </button>
    {{else}}
        <button type="submit" class="btn btn-primary btn-next" name="next" id="suivant-locked" disabled> Suivant </button>
    {{/if}}
     
      
      <button type="submit" class="btn btn-primary btn-previous" name="pre" > Précédent </button>
      

      </form>

      
  </div>

</section>

<script>

const suivant_locked = document.getElementById("suivant-locked");

function addValue(id) {

const buttonHidden = document.getElementById(id);

buttonHidden.value++;
}

let commande = {};

allBoutonplat = document.querySelectorAll(".bouton-plats");
const recapCommande = document.getElementById('recap-commande');

allBoutonplat.forEach(boutton => {

  boutton.addEventListener('click', (event) => {

    function updateTotal() {
  let total = 0;

  Object.keys(commande).forEach((plat) => {

      total += commande[plat].quantite * commande[plat].prix;

    });

  const totalItem = document.querySelector('#recap-commande li:last-child');
  totalItem.textContent = `Total : ${total}€`;
        if (total > 0) {
            suivant_locked.disabled = false;
        }
        else {
            suivant_locked.disabled = true;
        }
}


    const commandeExistante = document.querySelectorAll('.commande-existante');
    let commande = {};
    commandeExistante.forEach(boutton =>{

      commande[boutton.dataset.name] = {
        quantite : boutton.dataset.quantite,
        prix : boutton.dataset.prix
      };
    });

    const nomPlat = event.target.name;
    const prix = event.target.id;

    if (commande.hasOwnProperty(nomPlat)) {
      commande[nomPlat].quantite ++;
    } else {
      commande[nomPlat] = {
        quantite: 1,
        prix: prix
      };
    }

    //affichage 

    let total = 0;

    recapCommande.innerHTML = '';
    Object.keys(commande).forEach((plat) => {

      const item = document.createElement('li');
      const deleteButton = document.createElement('button');
      deleteButton.innerHTML = 'X';
      deleteButton.setAttribute('class', 'delete')
      item.setAttribute('data-name', plat);
      item.setAttribute('class', 'commande-existante');
      item.setAttribute('data-prix', commande[plat].prix);
      item.setAttribute('data-quantite', commande[plat].quantite);
      item.innerHTML += `${commande[plat].quantite} x ${plat} - ${commande[plat].prix}€`;
      item.appendChild(deleteButton);
      recapCommande.appendChild(item);
      total += commande[plat].quantite * commande[plat].prix;

      deleteButton.addEventListener('click', (event) => {
         event.preventDefault();
        const buttonHidden = document.querySelector(`[data-nonplat="${plat}"]`);

        if (buttonHidden) {
          buttonHidden.value = Number(buttonHidden.value) - Number(commande[plat].quantite);
          recapCommande.removeChild(item);
          
        }

        const suppDel = document.querySelector(`[data-name="${plat}"]`);
        if (suppDel !== null) {
          const buttonHiddenSupp = document.querySelector(`[data-namehidden="${plat}"]`);
          buttonHiddenSupp.value = Number(commande[plat].quantite)*(-1);
          suppDel.parentNode.removeChild(suppDel);

        }
        delete commande[plat];
        updateTotal();
      });

    });
    const totalItem = document.createElement('li');
    totalItem.textContent = `Total : ${total}€`;
      if (total > 0) {
          suivant_locked.disabled = false;
      }
      else {
          suivant_locked.disabled = true;
      }
    recapCommande.appendChild(totalItem);
  });
});

function updateTotal() {
  Object.keys(commande).forEach((plat) => {
  total += commande[plat].quantite * commande[plat].prix;

});}
 const reacapTotal = document.getElementById("total");
  let totalaff = Number(reacapTotal.dataset.montant );
const deletebu = document.querySelectorAll(".delete");
  deletebu.forEach(button => {
    button.addEventListener('click', (event) =>{
      event.preventDefault();
      nom = event.target.dataset.name;

         const commadeExistante = document.querySelectorAll('.commande-existante');
        let commande = {};
        commadeExistante.forEach(boutton =>{


            commande[boutton.dataset.name] = {
              quantite : boutton.dataset.quantite,
              prix : boutton.dataset.prix
            };
          });

      const buttonHidden = document.querySelector(`[data-nonplat="${nom}"]`);
      const recapCommande = document.getElementById('recap-commande');

        if (buttonHidden) {
          buttonHidden.value = Number(buttonHidden.value) - Number(commande[nom].quantite);
          const platDel = document.querySelector(`[data-name="${nom}"]`);
          platDel.parentNode.removeChild(platDel);
          totalaff = totalaff - Number(commande[nom].quantite)*Number(commande[nom].prix);
        }

        const suppDel = document.querySelector(`[data-name="${nom}"]`);
        if (suppDel !== null) {
          const buttonHiddenSupp = document.querySelector(`[data-namehidden="${nom}"]`);
          buttonHiddenSupp.value = Number(commande[nom].quantite)*(-1);
          suppDel.parentNode.removeChild(suppDel);
          totalaff = totalaff -  Number(commande[nom].quantite)*Number(commande[nom].prix);
        }
        delete commande[nom];
        updateTotal();
        
        //totalItem.textContent = `Total : `;
        reacapTotal.innerHTML = `Total : ${totalaff}€`;
        if (total > 0) {
            suivant_locked.disabled = false;
        }
        else {
            suivant_locked.disabled = true;
        }


    });

  });
</script>



{{> footer}}
